version: '3.8'
services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        image: sohag-laravel-app:latest
        container_name: laravel_app
        restart: unless-stopped
        volumes:
            - .:/var/www/html
        depends_on:
            - db
        environment:
            DB_CONNECTION: mysql
            DB_HOST: db
            DB_PORT: 3306
            DB_DATABASE: laravel_db
            DB_USERNAME: laravel_user
            DB_PASSWORD: supersecretpassword
        networks:
            - bookshop_network
    nextjs_frontend:
        # Use 'build' instead of 'image'
        build:
            # Context should be the Next.js project folder
            context: ../book-shop
            # Specify the name of the Dockerfile within that context
            dockerfile: Dockerfile.nextjs
        container_name: nextjs_book_shop_prod
        # !!! REMOVED: No source code volume mount is needed for production !!!
        ports:
            - "3000:3000"
        depends_on:
            - app

        networks:
            - bookshop_network

    nginx:
        image: nginx:alpine
        container_name: laravel_nginx
        restart: unless-stopped

        ports:
            - "8000:80"

        volumes:
            - .:/var/www/html
            - ./docker/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro

        depends_on:
            - app

        networks:
            - bookshop_network
      # 3. Database Service (db)
    db:
        container_name: mysql_database
        image: mysql:8.0
        ports:
            - "33061:3306"
        # *** এইখানে ইন্ডেন্টেশন চেক করুন ***
        environment:
            MYSQL_DATABASE: laravel_db
            MYSQL_USER: laravel_user
            MYSQL_PASSWORD: supersecretpassword
            MYSQL_ROOT_PASSWORD: rootpassword
        volumes:
            - dbdata:/var/lib/mysql
        networks:
            - bookshop_network
        restart: always

    adminer:
        image: adminer:latest
        container_name: laravel_adminer
        restart: always
        ports:
            - "8080:8080"
        depends_on:
            - db
        networks:
            - bookshop_network
networks:
  bookshop_network:
    driver: bridge

volumes:
  dbdata:


